# These requirements are for running tests and the sample_site, the library 
# itself only needs a subset, see setup.py for that list
context-temp==0.11.1
coverage==5.0.3
Django==3.0.3
django-awl==0.24.0
pudb==2019.2
pyflakes==2.1.1
requests==2.23
Sphinx==2.4.1
sphinx-rtd-theme==0.4.3
tox==3.14.3
twine==3.1.1
waelstow==0.10.2
